.app__principal {
  background: whitesmoke;
}

.app__container{
  max-width: 1000px;
  margin: auto;
  border: 1px;
  border-color: gray;
  gap: 5px;

  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.app__container > .app__header,
.app__container > .app__content{
  background: white;
  padding: 1px;
  border: 1px solid rgb(226, 225, 225);
}

.app__menu{
  padding: 0px;
  margin: 0px;
  border: 1px solid rgb(226, 225, 225)
}


.app__header,
.app__container .app__footer{
  grid-column: 1/7;
  color: black;
  font-size: 14px;
}

.app__menu{
  grid-column: span 1;
}

.app__content{
  grid-column: span 5;
  font-size: 13px;
}

.app__footer{
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){

  .header{
    text-align: center;
  }

  .app__container .app__menu,
  .app__container .app__content{
    grid-column: 1/-1;
  }

}
