.reqatender__col{
    background-color: #f6fafd;
}

.reqatender__linea{
    background: rgb(104, 156, 252);
    color: white;
    font-size: 16px;
}

.reqatender__prox__act__container{
    margin: 10px;
}

.reqatender__solucion__container{
    margin: 10px;
}