.app__principal {
  background: whitesmoke;
}

.app__container{
  margin: auto;
  border: 1px;
  border-color: gray;
  gap: 2px;

 
}

.app__container > .app__header,
.app__container > .app__content{
  background: white;
  padding: 1px;
  border: 1px solid rgb(226, 225, 225);
}

.app__header,
.app__container .app__footer{
  color: black;
  font-size: 14px;
}

.app__menu{
  background: whitesmoke;
  max-width: 63px;
  padding-left: 4px;
  border: 1px solid rgb(226, 225, 225)
}

.app__content{
  font-size: 13px;

  border: 1px;
  border-color: gray;
  gap: 2px;

  display: grid;
  grid-template-columns: 70px 1fr;
}

.app__footer{
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){

  .header{
    text-align: center;
  }

  .app__container .app__menu,
  .app__container .app__content{
    grid-column: 1/1;
  }


}
